{% block content %}
<center><h1>What would you like to know more about? </h1></center>

<center>
    <form method="post" action="/get_data">
        <select id="mySelect" name="selected_option">
            <option value="1">1) What is the total revenue for each month in the first quarter of 2024 for sleeping rooms? </option>
            <option value="2">2) Who are the top 10 customers based on purchases? </option>
            <option value="3">3) Which customers have spent the most money in the past year? What type of charges?</option>
            <option value="4">4) Which meeting room location is doing best? </option>
            <option value="5">5) What service type is the most popular? </option>
            <option value="6">6) Which type of sleeping room is doing best? </option>
        </select>
        <button type="submit">Submit</button>
    </form>
</center>
{% endblock %}

